<section class="u-py-100 u-h-100vh u-flex-center main-bg-back-1">
   <div class="container">
      <div class="row">
         <div class="col-lg-8">
            <h1 class="text-left display-3 u-fw-600 hero-text">Let's build a better <br> business together.</h1>
            <p class="text-left u-fs-22 u-lh-1_7 u-py-40 text-white">You're more than just another business. Let's work <br> together to make your brand stand out.</p>
            <div class="col-12 text-left">
            <button type="submit" class="btn btn-blue ">
               <%= link_to 'Hire Me for a Job', new_user_registration_path %>        
            </button>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="u-py-100">
         <div class="container">
            <h2 class="text-center" > Businesses</h2>
            <div class="row">
               <div class="col-12 d-md-flex justify-content-between">
                  <div class="p-3">
                  <%=image_tag("seo/cleanbizzz.png", alt: "")%>
                   
                  </div>
                  <div class="p-3">
                  <%=image_tag("seo/HomeNows.png", alt: "")%>
                  </div>
                  <div class="p-3">
                  <%=image_tag("seo/onesimplefit.png", alt: "")%>
                  </div>
                  <div class="p-3">
                  <%=image_tag("seo/happychurro.png", alt: "")%>
                  </div>
               </div>
            </div>
         </div>
      </section>
