
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700" rel="stylesheet">
<body>

  <section class="u-py-100 u-h-50vh u-flex-center main-bg-back-7">
   <div class="container">
    <div class="row">
     <div class="col-lg-12">
      <h1 class="text-center display-3 u-fw-600 hero-text">Grow your business</h1>
      <h4 class="text-center hero-text">The internet is your friend</h4>
    </div>
  </div>
</div>
</section>

<section class="services pt-100 pb-50" id="services">
 <div class="container">
  <div class="row">
   <div class="col-xl-6 mx-auto text-center">
    <div class="section-title mb-100">
     <p>what I offer</p>
     <h4>My services</h4>
   </div>
 </div>
</div>
<div class="row">
 <div class="col-lg-4 col-md-6">
  <!-- Single Service -->
  <div class="single-service">
   <i class="fa fa-laptop"></i>
   <h4>Web Design & Development </h4>
   <p>Not having a website today is a big mistake. Make it easier for your customers to learn more about your business and get in contact with you. Generate more sales with a stunning website designed to get leads and more sales.  </p>
   <button type="submit" class="btn btn-blue ">
     <%= link_to 'Buy Now', "https://www.fiverr.com/share/66d5N" %>          
   </button>
 </div>
</div>
<div class="col-lg-4 col-md-6">
  <!-- Single Service -->
  <div class="single-service">
   <i class="fa fa-line-chart"></i>
   <h4>Social Media Marketing</h4>
   <p>Customers like brands with social media. Build your brand online and build a community of loyal people willing to spend more on your services. Build a brand, generate sales, and build customer retention.</p>
   <button type="submit" class="btn btn-blue ">
     <%= link_to 'Buy Now', "https://www.fiverr.com/share/aqEYW" %>          
   </button>
 </div>
</div>
<div class="col-lg-4 col-md-6">
  <!-- Single Service -->
  <div class="single-service">
   <i class="fa fa-money"></i>
   <h4>Social Media & Online Advertising</h4>
   <p>You have to spend money to make money. Target your soon to be customers with ads online. Make sure they know to buy what you're selling. Retarget your current customers to keep the money coming in. </p>
   <button type="submit" class="btn btn-blue ">
     <%= link_to 'Buy Now', "https://www.fiverr.com/share/1vL1p" %>          
   </button>
 </div>
</div>
<div class="col-lg-4 col-md-6">
  <!-- Single Service -->
  <div class="single-service">
   <i class="fa fa-paint-brush"></i>
   <h4>Graphic Design & Video Editing</h4>
   <p>Make your brand stand out with beautiful online images designed to catch people's attention. Get people to interact with your business with videos that make people remember your brand forever. </p>
   <button type="submit" class="btn btn-blue ">
     <%= link_to 'Buy Now', "https://www.fiverr.com/share/gWXYW" %>       
   </button>
 </div>
</div>
<div class="col-lg-4 col-md-6">
  <!-- Single Service -->
  <div class="single-service">
   <i class="fa fa-google"></i>
   <h4>Search Engine Optimization</h4>
   <p>Put your business on the first page of search engines like Google. Customers spend more money with businesses that appear on the first page. Make sure your business pops up when they search for certain keywords. </p>
   <button type="submit" class="btn btn-blue ">
     <%= link_to 'Buy Now', "https://www.fiverr.com/share/W1zdx" %>          
   </button>
 </div>
</div>
<div class="col-lg-4 col-md-6">
  <!-- Single Service -->
  <div class="single-service">
   <i class="fa fa-lightbulb-o"></i>
   <h4>Consultation</h4>
   <p>Always get the help you need when you need it. I'm here to help you make more money. Book one on one meetings for instant information on subjects regarding advertising, marketing, branding, and online platforms.</p>
   <button type="submit" class="btn btn-blue ">
    <%= link_to 'Buy Now', "https://www.fiverr.com/share/W1zdx" %>        
   </button>
 </div>
</div>
</div>
</div>
</section>
</body>